<div id="your-advantage" class="page-container">
    <div class="container">
        <div class="section-header col-12">
            <span class="header-text">Uw Voordeel</span>
        </div>
        <div class="Section-body col-12 row">
            <div class="col-12 col-sm-6">
                <img style="max-width: 100%;" src="../../../assets/images/Clip2.png"/>
                <br/><br/>
                <h2>Ritprijzen van & naar Schiphol</h2>
                <p>Den Haag naar Schiphol
                    Schiphol naar Den Haag
                </p>
                <h2>Taxi</h2>
                <p>1 t/m 4 Personen Den Haag naar Schiphol € 59 & Schiphol naar Den Haag € 69</p>
                <h2>MiniVan</h2>
                <p>
                    5 t/m 8 Personen Den Haag naar Schiphol € 69 & Schiphol naar Den Haag € 79
                </p>
                <p class="sub-header">Vooraf reserveren.</p>
                <p class="sub-header">betaling contant of Pin bij chauffeur</p>
               
            </div>
            <div class="col-12 col-sm-6">
                <h2>Een Schiphol taxi is uw voordeel</h2>
                <p>Op Schiphol parkeren is een duur grapje. De kosten voor het parkeren van uw auto kunnen aardig oplopen. Als u kiest voor het vervoer met een taxi naar Schiphol bent u een stuk voordeliger uit. U kunt voor slechts €59 met de taxi van Den Haag naar Schiphol ( vast tarief ).</p>
                <p>Wij rijden ook naar andere luchthavens: Overige luchthavens</p>
                <p>Zonder stress naar Schiphol</p>
                <p class="sub-header">Een taxi naar Schiphol heeft alleen maar voordelen:</p>
                <p>
                – U kunt zeer comfortabel, veilig en voordelig naar Schiphol reizen.<br/>
                – Onze chauffeurs brengen u zo dicht mogelijk bij de ingang van Schiphol.<br/>
                – U kunt ons 24 uur per dag en 7 dagen in de week benaderen.<br/>
                – U bent bij Taxiboeking Den Haag verzekerd van: veilig, comfortabel en voordelig vervoer.<br/>
                – Professionele chauffeurs, goede auto’s en een uitstekende service.<br/>
                </p>
                <p class="sub-header">Reis heen en terug met een  Minibus van Taxiboeking Den Haag</p>
                <p>wilt u naast het taxivervoer naar Schiphol ook bij de terugreis weer naar huis vervoerd worden? Bij de Taxiboeking  Centrale kunt u zowel de heen- als terugreis in één keer online boeken. Regel eenvoudig, snel en veilig uw vervoer naar Schiphol.</p>
                <a>Vervoer naar Schiphol kunt u via ons online boekingssysteem snel reserveren.</a>
                <!-- <h2>Ritprijzen van & naar Schiphol</h2>
                <p>Den Haag naar Schiphol
                    Schiphol naar Den Haag
                </p>
                <br/><br/>
                <h2>Taxi</h2>
                <p>1 t/m 4
                    Personen
                    
                    Den Haag naar Schiphol € 59
                    Schiphol naar Den Haag € 69</p>
                    <h2>MiniVan</h2>
                    <p>
                        5 t/m 8
                        Personen

                        Den Haag naar Schiphol € 69
                        Schiphol naar Den Haag € 79
                    </p>
                    <p class="sub-header">Vooraf reserveren.</p>
                    <p class="sub-header">betaling contant of Pin bij chauffeur</p> -->
            </div>
        </div>
    </div>
</div>
