<!-- <div class="header">
  <div class="container">
    <div class="info-container col-12 row  p-0">
      <div class="contact-container col-7">
          <span><i class="fa fa-phone"></i> 7090879867</span>
          <span><i class="fa fa-mobile-phone"></i> 7090879867</span>
          <span><i class="fa fa-envelope"></i> test@test.com</span>
      </div>
      <div class="social-media-container col-5">
        <i class="fa fa-facebook-square"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-google-plus"></i>
        <i class="fa fa-youtube"></i>
        <i class="fa fa-linkedin"></i>
        <i class="fa fa-skype"></i>
      </div>
    </div>
    <div class="logo"><img src="../../../assets/images/Group 1.png"/></div>
    <div class="menu">
        <ul>
          <li>TAXI BOEKEN</li>
          <li>BELLEN</li>
          <li>TO AIRPORT</li>
          <li>ONZEDIENSTEN</li>
          <li>UW VOORDEEL</li>
          <li>CONTACT</li>
        </ul>
    </div>
  </div>
  <div class="header-border col-12 p-0">
    <img class=" col-12 p-0" src="../../../assets/images/Layer 11.png"/>
  </div>
</div> -->
<div class="route-car"><img src="../../../assets/images/routecar.png"/></div>
<div id="booking">
    <div class="container">
        <h3>Make Your Booking</h3>
        <p>To book a taxi ride to an airport, please fill in all details below. (*) are required fields!</p>
        <p>How many people are you traveling with? 1 to 4 is a luxury taxi, 5 to 8 is a mini taxi. See also our low fixed rates</p>
        <form class="row col-12">
            <div class="form-group" class="col-12 col-sm-6 pl-0">
              <label for="numberofPersion">Choose number of persons and Airport (*)</label>
              <input type="text" class="form-control" id="numberofPersion" aria-describedby="emailHelp" placeholder="Enter email">
              
            </div>
            <div class="form-group" class="col-12 col-sm-6 pr-0">
              <label for="exampleInputPassword1">Password</label>
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-check" class="col-12 col-sm-6 p-0">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>

</div>

<!-- <div class="footer">
  <div class="container">
    <div class="footer-container row col-12">
        <div class="Section-1 col-4">
          <p>Minibus Den Haag deel van Taxi Centrale Groep</p>
          <p>Met Onze Taxi groep kunnen wij u veel beter van dienst zijn. Sneller Veiliger en voordeliger</p>
          
        </div>
        <div class="Section-2 col-4">
          <ul>
            <li>Voor Alle taxi ritten in Den Haag on omgeving</li>
            <li>Correcte Chauffeurs</li>
            <li>Luxe sedan</li>
            <li>Royale Mini-bus</li>
            <li>Speciale Taxi To Airport Tarieven</li>
          </ul>

          <a href="#" class="legal">Lees: Disclaimer en AlgemeneVoorwaarden</a>
        </div>
        <div class="Section-3 col-4">
          <h4>CONTACT TAXI BOEKING</h4>
          <p>Apeldoornselaan 152<br/>
            2573 LS Den Haag<br/>
            KVK<br/>
            070 6666 555<br/><br/>
            info@taxiboekingdenhaag.nl</p>
        </div>
    </div>
  </div>
  <div class="chat-bot">
    <div class="profile">
      <i class="fa fa-user" aria-hidden="true"></i>
    </div>
  </div>

</div> -->
