<div id="dashboard">
    <div class="container">
        <div class="section-header col-12">
            <span class="header-text">Welcome To Taxi Boeken</span>
        </div>
        <div class="col-12 row mb-5">
            <div class="col-12 col-md-6">
                <img style="max-width: 100%;" src="../../../assets/images/Clip2.png"/>
            </div>
            <div class="col-12 col-md-6">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <hr/>
                <div class="phone-details row col-12">
                    <div class="col-6">
                        <i class="fa fa-phone"></i><span>Call us now and make <br/> your boeking</span>
                    </div>
                    <div class="col-6">
                        <h1>789375738</h1>
                        <p>or</p>
                        <h1>235456464</h1>
                    </div>
                </div>
            </div>

        </div>
    </div>
        <div class="col-12 row taxi-boeking-services p-0 m-0">
            <div class="taxi-boeking-services-wrapper col-12 p-0 m-0">
                <div class="container">
                    <div class="col-12 row booking-service-container">
                        <div class="section-header col-12">
                            <span class="header-text">Taxi Boeking Services</span>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3 service-item">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                  <div class="flip-card-front">
                                    <img src="../../../assets/images/Layer 6.png" alt="Avatar" style="width:100px;margin-top:25px">
                                  </div>
                                  <div class="flip-card-back">
                                    <h2>TAXI</h2>
                                    <p>DEN HAAG HCHIPHOL</p>
                                    <p>$69 = Bestel Hier</p>
                                  </div>
                                </div>
                              </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3 service-item">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                  <div class="flip-card-front">
                                    <img src="../../../assets/images/Layer 7.png" alt="Avatar" style="width:100px;margin-top:25px">
                                  </div>
                                  <div class="flip-card-back">
                                    <h2>MINIBUS</h2>
                                    <p>DEN HAAG HCHIPHOL</p>
                                    <p>$79 = Bestel Hier</p>
                                  </div>
                                </div>
                              </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3 service-item">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                  <div class="flip-card-front">
                                    <img src="../../../assets/images/Layer 8.png" alt="Avatar" style="width:100px;margin-top:25px">
                                  </div>
                                  <div class="flip-card-back">
                                    <h2>TAXI</h2>
                                    <p>DEN HAAG HCHIPHOL</p>
                                    <p>$65 = Bestel Hier</p>
                                  </div>
                                </div>
                              </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3 service-item">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                  <div class="flip-card-front">
                                    <img src="../../../assets/images/Layer 9.png" alt="Avatar" style="width:100px;margin-top:25px">
                                  </div>
                                  <div class="flip-card-back">
                                    <h2>MINIBUS</h2>
                                    <p>DEN HAAG HCHIPHOL</p>
                                    <p>$79 = Bestel Hier</p>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div _ngcontent-gcs-c60="" class="col-12 p-0">
            <img _ngcontent-gcs-c60="" src="../../../../assets/images/Layer 11.png" class="col-12 p-0">
        </div>
        <div class="container">
        <div class="col-12 row taxi-to-airport mb-5">
            <div class="section-header col-12">
                <span class="header-text">Taxi To Airport</span>
            </div>
            <div class="col-12 col-md-6">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <br/>
                <br/>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>


                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

            </div>
            <div class="col-12 col-md-6">
                <img style="max-width: 100%;" src="../../../assets/images/taxiairport.PNG"/>
            </div>

        </div>
    </div>
</div>
