/* header */

.header{
    background-image: url("../../../../assets/images/Clip.png");  
    height: 180px;
    background-position: bottom;
    
}

.info-container{
    height: 70px;
    width: 800px;
    background-color:#000000;
    float: right;
    border-bottom-left-radius: 14px;
}

.info-container:before{
    content: "";
    width: 40px;
    border-top: 60px solid black;
    border-left: 40px solid transparent;
    margin-left: -40px;
}

.contact-container {
    justify-content: space-around;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.social-media-container{
    height: 70px;
    width: 300px;
    background-color: #FFC000;
    float: right;
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.social-media-container:before{
    content: "";
    width: 40px;
    border-bottom: 70px solid black;
    border-right: 40px solid transparent;
    margin-left: -30px;
}

.logo img{
    margin-top: 40px;
}

.menu ul{
    color: #FFFFFF;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    margin-right: -15px;
    margin-top: -15px;
}
.menu ul li{
    padding: 0 5px;
}
.menu ul li a{
    color:#FFF;
}
/* .header-border{
    margin-bottom: 57px;
} */

:host ::ng-deep .mat-tab-body{
    background: rgba(255,255,255,0.7);
    padding: 20px;
}
:host ::ng-deep .mat-tab-label-container{
    background-color: #FFFFFF;
}

/* :host ::ng-deep .mat-tab-label.mat-tab-label-active{
    background-color: #ffc000;
} */

::ng-deep .mat-ink-bar {
    background-color:#ffc000 !important;
}

.booking-form .form-group{
    padding-bottom: 20px;;
}

.book-now{
    position: absolute;
    bottom: 20px;
    height: 38px;
}

button{
    background: #ffc000;
    border: 2px solid #a7820e;
    padding: 2px 6px;
}