<div id="testimonial" class="page-container">
    <div class="container">
        <div class="section-header col-12">
            <span class="header-text">Wat anderen zeggen</span>
        </div>
        <div class="Section-body col-12">
            <div class="testimonial-container col-12 row">
                <div class="testimonial-image col-12 col-sm-2">
                    <img style="max-width: 100%;" src="../../../assets/images/t1.png"/>
                </div>
                <div class="testimonial-body col-12 col-sm-10 row">
                    <div class="col-6 name">Rene de Vries</div>
                    <div class="col-6 date">12/06/2019</div>
                    <div class="col-12 message">Meer dan klasse! Keurige driver en nette wagen! En vooral snel en op tijd! Dankjewel !</div>
                    <div class="col-12 rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="testimonial-container col-12 row">
                <div class="testimonial-image col-12 col-sm-2">
                    <img style="max-width: 100%;" src="../../../assets/images/t2.png"/>
                </div>
                <div class="testimonial-body col-12 col-sm-10 row">
                    <div class="col-6 name">Robert Zevenhuijsen</div>
                    <div class="col-6 date">17/09/2018</div>
                    <div class="col-12 message">Handig hoor die MiniVan. We konden met 5 man en bagage met duikuitrusting allemaal mee. En keurig op tijd ! Bedankt voor jullie goede service</div>
                    <div class="col-12 rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
