<div class="footer">
    <div class="container">
      <div class="footer-container row col-12">
          <div class="Section-1 col-4">
            <p>Minibus Den Haag deel van Taxi Centrale Groep</p>
            <p>Met Onze Taxi groep kunnen wij u veel beter van dienst zijn. Sneller Veiliger en voordeliger</p>
            
          </div>
          <div class="Section-2 col-4">
            <ul>
              <li>Voor Alle taxi ritten in Den Haag on omgeving</li>
              <li>Correcte Chauffeurs</li>
              <li>Luxe sedan</li>
              <li>Royale Mini-bus</li>
              <li>Speciale Taxi To Airport Tarieven</li>
            </ul>
  
            <a href="#" class="legal">Lees: Disclaimer en AlgemeneVoorwaarden</a>
          </div>
          <div class="Section-3 col-4">
            <h4>CONTACT TAXI BOEKING</h4>
            <p>Apeldoornselaan 152<br/>
              2573 LS Den Haag<br/>
              KVK<br/>
              070 6666 555<br/><br/>
              info@taxiboekingdenhaag.nl</p>
          </div>
      </div>
    </div>
    <div class="chat-bot">
      <div class="profile">
        <i class="fa fa-user" aria-hidden="true"></i>
      </div>
    </div>
  
  </div>